@{
    this.Layout = null;
}

<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Intelligent Mission - Azure Government</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="styles.16464e51bd6d68b2212c.bundle.css" rel="stylesheet"/></head>
</head>
<body>
    <div class="container body-content applicationHost">
        <intelligent-mission-app>
            <nav class="navbar navbar-toggleable-md fixed-top navbar-inverse bg-primary">
                <div class="container">
                    <a class="navbar-brand" href="">Intelligent Mission</a>
                </div>
            </nav>
            <h2>Loading Intelligent Mission...</h2>
        </intelligent-mission-app>
    </div>

    @*<script type="text/javascript" src="inline.bundle.js"></script>
    <script type="text/javascript" src="polyfills.bundle.js"></script>
    <script type="text/javascript" src="styles.bundle.js"></script>
    <script type="text/javascript" src="vendor.bundle.js"></script>
    <script type="text/javascript" src="main.bundle.js"></script>*@

    <script type="text/javascript" src="inline.cf1d7a35f961dfc5966a.bundle.js"></script>
    <script type="text/javascript" src="polyfills.b882da8fa85eab19be70.bundle.js"></script>
    <script type="text/javascript" src="vendor.914d624e2bb07dfd6f46.bundle.js"></script>
    <script type="text/javascript" src="main.42fe267c0a857acd0413.bundle.js"></script>

</body>
</html>
